.user {
  display: block;
  width: 100%;
  padding: 0;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));

  border-radius: 7px;
  @mixin hover {
    box-shadow: 2px 2px 0px rgba(105, 105, 105, 0.281)
  }
}

.marquee {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  max-width: 200px;
  padding: 2px 4px;
  container-type: inline-size;
  color: rgba(105, 105, 105, 0.281);
}
.marquee > * {
  animation: marquee 5s linear infinite both alternate;
}

@keyframes marquee {
  to {
    transform: translateX(min(100cqw - 100%, 0px));
  }
}

.singleLine {
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}

